<phpunit
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		forceCoversAnnotation="false"
		stopOnError="false"
		stopOnFailure="false"
		stopOnIncomplete="false"
		stopOnSkipped="false"
		verbose="true">
	<testsuites>
		<testsuite name="OrderTest">
			<directory>tests/order</directory>
		</testsuite>
		<testsuite name="HelperTests">
			<directory>tests/helper</directory>
		</testsuite>
	</testsuites>
</phpunit>